@font-face {
	font-family: ClashGrotesk;
	src: url(../fonts/ClashGrotesk-Medium.otf);
}
:root{
	--font-main-family: ClashGrotesk;
	--font-text-family: Synonym;
}
/* Réinitialisation de la mise en forme */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* Méthode de clearfix pour les éléments flottants */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
/* Styles généraux */
html, body * {
	scrollbar-color: #c4c4c4 transparent;
	scrollbar-width: thin;
	scroll-behavior: smooth;
}
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #000;
	background-color: #f9f9f9;
}
section {
	display: grid;
	place-items: center;
	align-content: center;
}
.hidden{
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 0.5s;
}
.show{
	opacity: 1;
	filter: blur(0);
	transform: translateY(0);
}
.hero-grid2{
	transition-delay: 400ms;
}
a {
	text-decoration: none;
	color: #007bff;
}
h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-main-family);
	font-weight: 900;
	color: #000;
	margin: 1rem 0;
	font-size: 2.5rem;
}
p {
	margin: 0 0 1rem;
}
img {
	max-width: 100%;
	height: auto;
}
/* Styles de la barre de navigation */
header {
	background-color: rgba(255, 255, 255, 0.7);
	backdrop-filter: saturate(180%) blur(4px);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	z-index: 99;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}
.logo {
	float: left;
	height: 70px;
	line-height: 55px;
	font-size: 24px;
	font-weight: 700;
	color: #333;
}
.logo img {
	max-height: 100%;
	vertical-align: middle;
}

nav {
	float: right;
}

nav a {
	display: inline-block;
	height: 70px;
	line-height: 70px;
	padding: 0 20px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
}
nav a:hover, nav a:focus {
	color: #000;
}
.nav-mobile.active {
	transform: translateY(0);
}
.nav-mobile.active li {
	opacity: 1;
	transform: translateY(0);
}
.nav-mobile li {
	opacity: 1;
	transform: translateY(-20px);
	transition: all 0.3s;
}

/* Styles de la section héros */
.hero {
	/* background-image: url("../images/hero-bg2.jpg"); */
	background-size: cover;
	background-position: center;
	color: #000;
	padding: 350px 0;
	max-height: 250px;
}
.hero-top {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
} 
.hero-grid1 { 
	grid-area: 1 / 1 / 2 / 2;
	max-width: 700px;
	margin-top: 10%;
}
.hero-grid2 { 
	grid-area: 1 / 2 / 2 / 3; 
	max-width: 700px;
} 
.hero h1 {
	font-size: 3rem;
	margin-bottom: 20px;
}
.hero-title-bg{
	background: linear-gradient(82deg,#ff00ef 10%,#002fff 90%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.hero p {
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 40px;
	color: #000;
}
.btn {
	display: inline-block;
	padding: 12px 24px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.3s;
}
.btn-primary {
	/* background-color: #c6e3ec; */
	color: #000;
	letter-spacing: 1px;
	background-color: #ff00ef;
	box-shadow: -2px 2px 8px rgb(255, 0, 238);
	border-radius: 90px;
}
.btn-primary:hover, .btn-primary:focus {
	/* background-color:  #efd4f9; */
	background-color: #00c3ff;
	box-shadow: -2px 2px 8px rgb(0, 195, 255);
}

.btn-primary:active {
	transform: translateY(2px);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.btn-secondary {
	background-color: #00c3ff;
	box-shadow: -2px 2px 8px rgb(0, 195, 255);
	color: #000;
	letter-spacing: 1px;
	border-radius: 90px;
}
.btn-secondary:hover, .btn-secondary:focus {
	background-color: #ff00ef;
	box-shadow: -2px 2px 8px rgb(255, 0, 238);
}
.btn-secondary:active {
	transform: translateY(2px);
	box-shadow: none;
}
/* Styles de la section fonctionnalités */	
.features {
	background-color: #fff;
	padding: 80px 0;
}
.feature {
	text-align: center;
	padding: 40px;
}
.feature-bg{
	max-width: 700px;
	background-color: #f2efef;
}
.feature img {
	display: block;
	margin: 0 auto 20px;
	max-width: 90px;
}
.feature p{
	font-size: 1.3rem;
}
/* Styles de la section témoignages */
.testimonials {
	background-color: #f9f9f9;
	padding: 80px 0;
}
.testimonial {
	text-align: center;
	padding: 40px;
}
.testimonial img {
	display: block;
	margin: 0 auto 20px;
	border-radius: 50%;
	max-width: 80px;
}
.testimonial blockquote {
	font-style: italic;
	margin-bottom: 20px;
}
.testimonial cite {
	display: block;
	font-style: normal;
	font-weight: 600;
	color: #000;
}
/* Styles de la section tarifs */
.pricing {
	background-color: #fff;
	padding: 80px 0;
}
.pricing h2 {
	text-align: center;
	margin-bottom: 40px;
}
.pricing-table {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.pricing-option {
	text-align: center;
	padding: 40px;
	border: 4px solid #ccc;
	border-radius: 5px;
	transition: all 0.4s;
	color: #444;
}
.pricing-img{
	max-width: 50px;
	position: absolute;
	right: 55%;
	top: 168.1rem;
	filter: invert(57%) sepia(87%) saturate(2680%) hue-rotate(163deg) brightness(105%) contrast(110%);
	transition: all 0.4s;
}
.pricing-option.recommended {
	margin: 0 50px;
	color: #000;
	border-color: #ff00ef;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.pricing-option:hover,
.pricing-option:active,
.pricing-option:focus{
	border-color: #00c3ff;
	box-shadow: 15px 30px 30px rgba(0, 0, 0, 0.3);
}
.pricing-option.recommended:hover .pricing-img{
	filter: invert(16%) sepia(77%) saturate(4946%) hue-rotate(302deg) brightness(117%) contrast(120%);
}
.pricing-option h3 {
	font-size: 20px;
	margin-bottom: 20px;
	color: #444;
}
.pricing-option.recommended h3 {
	color: #000;
}
.pricing-option .price {
	font-size: 36px;
	font-weight: 700;
}
.pricing-option ul {
	list-style: none;
	margin-bottom: 20px;
	padding: 0;
}
.pricing-option ul li {
	margin-bottom: 10px;
}
.month-price{
	margin-top: -5%;
	margin-bottom: 10%;
}
/* Modal */
#modal-amateur,
#modal-pro {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
	transition: opacity 200ms; 
}
#modal-amateur:target,
#modal-pro:target {
	pointer-events: all;
	opacity: 1; 
	z-index: 1;
}
#modal-amateur #modal-inner,
#modal-pro #modal-inner {
	position: absolute;
	display: block;
	padding: 48px;
	line-height: 1.6;
	width: 20%;
	top: 30rem;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
	background: white;
	border: 4px solid;
	border-radius: 90px;
	border-color: #00c3ff;
	color: #34495E; 
}
#modal-amateur #modal-inner h2,
#modal-pro #modal-inner h2 {
	margin-top: 0; 
}
#modal-amateur a.close,
#modal-pro a.close {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 1);
	opacity: 0.8;
	transition: opacity 200ms; 
}
#modal-amateur a.close:hover {
	opacity: 0.9; 
}
#modal-inner ul{
	text-align: left;
}
form{
	text-align: left;
}
input,
textarea{
	width: 100%;
}
.submit-btn{
	width: 102%;
	background-color: #00c3ff;
	border-radius: 90px;
	padding: 8px;
	color: #000;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.9px;
}
.submit-btn:hover{
	width: 102%;
	background-color: #ff00ef;
}
/* Styles du footer */
footer {
	background-color: #f2efef;
	color: #000;
	padding: 40px 0;
}
footer .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer .copyright {
	font-size: 14px;
}
footer .social-links {
	display: flex;
	align-items: center;
}
footer .social-links img {
	height: 20px;
	margin-left: 10px;
}
/* Médias queries */
@media screen and (min-width: 961px) {
	.nav-container {
		background-color: transparent;
	}
	.menu-toggle-mobile {
		display: none;
	}
	.nav-mobile {
		display: block;
		position: static;
		background-color: transparent;
		padding-top: 15px;
		text-align: left;
	}
	.nav-mobile li {
		display: inline-block;
		margin: 0 20px;
		font-size: 16px;
	}
	.nav-mobile a {
		color: #333;
	}
}
@media screen and (max-width: 1280px) {
	.logo {
		font-size: 20px;
	}
	.nav-container {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 999;
		background-color: #fff;
	}
	.menu-toggle-mobile {
		display: block;
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 999;
		padding: 10px;
		cursor: pointer;
		transition: all 0.3s;
		border: 0;
		background-color: transparent;
	}
	.mobile__line {
		display: block;
		width: 30px;
		height: 3px;
		background-color: #333;
		transition: all 0.3s;
	}
	.mobile__line:nth-of-type(2) {
		margin: 6px 0;
	}
	.menu-toggle-mobile.active .mobile__line:nth-of-type(1) {
		transform: rotate(45deg);
		transform-origin: 1% 0%;
  		transition: transform 0.4s ease-in-out;
	}
	.menu-toggle-mobile.active .mobile__line:nth-of-type(2) {
		transform: scaleY(0);
		transition: transform 0.2s ease-in-out;
	}
	.menu-toggle-mobile.active .mobile__line:nth-of-type(3) {
		transform: rotate(-45deg);
		transform-origin: 10% 100%;
  		transition: transform 0.4s ease-in-out;
	}
	.nav-desktop {
		display: none;
	}
	.nav-mobile {
		display: none;
		position: fixed;
		top: 60px;
		left: 0;
		right: 0;
		z-index: 998;
		padding: 50px 100px;
		background-color: rgba(255, 255, 255, 0.8);
		backdrop-filter: saturate(180%) blur(20px);
		text-align: center;
	}
	body.dark .nav-mobile{
		background-color: rgba(20, 20, 20, 0.8);
	}
	.nav-mobile.active {
		display: block;
	}
	.nav-mobile li {
		display: block;
		margin: 20px 0;
	}
	.nav-mobile a {
		display: block;
		color: #333;
		font-size: 18px;
		text-decoration: none;
		transition: all 0.3s;
		border: solid;
	}
	.nav-mobile a:hover,
	.nav-mobile a:focus {
		color: #000;
	}
	.menu-toggle-mobile.active ~ nav .nav-mobile {
		display: block;
		border-bottom: solid;
	}
	.hero h1 {
		font-size: 2rem;
	}
	.hero p {
		font-size: 1rem;
	}
	.pricing-img{
		right: 58.3%;
	}
	#modal-inner{
		width: 30% !important;
		line-height: 1.6 !important;
	}
	#modal-inner h2{
		font-size: 2rem;
	}
}
@media screen and (max-width: 960px) {
	.container {
		padding: 0 20px;
	}
	.logo {
		float: none;
		height: 70px;
		line-height: 70px;
		font-size: 18px;
	}
	nav {
		float: none;
		text-align: center;
	}
	nav a {
		display: block;
		height: 50px;
		line-height: 50px;
		padding: 0;
		font-size: 16px;
	}
	.hero h1 {
		font-size: 30px;
	}
	.hero p {
		font-size: 16px;
	}
	.features .feature,
	.testimonials .testimonial,
	.pricing .pricing-option {
		padding: 20px;
	}
	.btn{
		font-size: 14px;
	}
	.pricing-img{
		max-width: 40px;
		top: 158.2rem;
		right: 60%;
	}
	#modal-inner{
		width: 50% !important;
		line-height: 1.4 !important;
	}
	#modal-inner h2{
		font-size: 2rem;
	}
}
@media screen and (max-width: 600px) {
	.logo {
		float: none;
		height: 70px;
		line-height: 70px;
		font-size: 18px;
	}
	nav {
		float: none;
		text-align: center;
	}
	nav a {
		display: block;
		height: 50px;
		line-height: 50px;
		padding: 0;
		font-size: 16px;
	}
	.nav-mobile{
		background-color: rgba(255, 255, 255, 0.8);
		backdrop-filter: saturate(180%) blur(20px);
	}
	.hero {
		padding: 200px 0;
	}
	.hero img{
		margin-top: 15%;
		max-width: 200px;
	}
	.hero h1 {
		font-size: 1.5rem;
	}
	.hero-grid1{
		grid-area: 2 / 3 / 3 / 4;
		margin-top: 0%;
	}
	.hero-grid2{
		grid-area: 1 / 3 / 2 / 4;
	}
	.hero p {
		font-size: 1rem;
	}
	.features .feature,
	.testimonials .testimonial,
	.pricing .pricing-option {
		padding: 10px;
	}
	.features h2{
		font-size: 1.5rem;
	}
	.features p{
		font-size: 1rem;
	}
	.feature img{
		max-width: 70px;
	}
	.pricing .pricing-table {
		flex-wrap: wrap;
		padding: 0 1rem;
	}
	.pricing .pricing-option {
		width: 100%;
		padding: 4rem 0;
	}
	.pricing-option.recommended{
		margin: 3rem 0;
	}
	.pricing-img{
		display: none;
	}
	.month-price{
		margin-top: -3%;
	}
	#modal-inner{
		width: 50% !important;
		line-height: 1.2 !important;
	}
	#modal-inner h2{
		font-size: 2rem;
	}
}

@media(prefers-reduced-motion) {
	.hidden{
		transition: none;
	}
}

.checkbox {
	opacity: 0;
	position: absolute;
  }
  
  .label {
	width: 50px;
	height: 20px;
	background-color: rgba(51, 51, 51, 0.5);
	display: flex;
	border-radius: 50px;
	align-items: center;
	justify-content: space-between;
	padding: 4px;
	position: relative;
	transform: scale(1.5);
  }
  
  .ball {
	width: 24px;
	height: 24px;
	background-color: white;
	position: fixed;
	border-radius: 50%;
	transition: transform 0.2s linear;
  }
  
  /*  target the elemenent after the label*/
  .checkbox:checked + .label .ball{
	transform: translateX(27px);
  }
  
  .img-moon,
  .img-sun {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(236deg) brightness(108%) contrast(101%);
	height: 20px;
	width: 20px;
  }
  .switch-mode{
	padding-top: 1.25rem;
  }

body.dark {
	background-color: #222;
}
body.dark h1,
body.dark h2,
body.dark h3{
	color: #ddd;
}
body.dark .hero p{
	color: #ddd;
}
body.dark header{
	background-color: rgba(20, 20, 20, 0.8);
}
body.dark nav a{
	color: #ddd;
}
body.dark .mobile__line{
	background-color: #ddd;
}
body.dark nav a:hover, nav a:focus {
	color: #fff;
}
body.dark .features{
	background-color: #111;
}
body.dark .feature-bg{
	background-color: #222;
}
body.dark .feature img{
	filter: invert(100%) sepia(99%) saturate(1167%) hue-rotate(179deg) brightness(113%) contrast(96%);
}
body.dark .feature p{
	color: #ddd;
}
body.dark .pricing{
	background-color: #222;
}
body.dark .pricing-option{
	color: #ddd;
}
body.dark .pricing-option.recommended h3{
	color: #fff;
}
body.dark .pricing-option.recommended{
	color: #fff;
}
body.dark .pricing-option:hover{
	box-shadow: 15px 30px 30px rgba(255, 255, 255, 0.3);
}
body.dark #modal-amateur #modal-inner,
body.dark #modal-pro #modal-inner{
	background-color: #222;
	color: #ddd;
}
body.dark footer{
	background-color: #111;
	color: #ccc;
}